@use "./../../components/cssBase.scss";

.error-page {
  .message {
    padding-top: 30px;
    font-size: 1rem;
    text-align: center;
    color: cssBase.$primary-color;
  }
  #notFound {
    display: inline-block;
    text-align: center;
    width: 50%;
  }
}
